#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    behaviors {
        soft_off_with_wakeup: soft_off_with_wakeup {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            
            // Fixed: Changed from 'wakeup-source-positions' to 'wakeup-source-keys'
            wakeup-source-keys = <RC(0, 0)>; // Target: Row 1, Col 1 (The Q key)
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1: 11 Physical Keys
                &kp Q     &kp W     &kp E          &kp R     &kp T          &kp Y        &kp U     &kp I     &kp O     &kp P                 &bootloader
                
                // Row 2: 10 Physical Keys + 1 Spacer Matrix Block
                &kp A     &kp S     &kp D          &kp F     &kp G          &kp H        &kp J     &kp K     &kp L     &kp SINGLE_QUOTE      &none
                
                // Row 3: 10 Physical Keys + 1 Spacer Matrix Block
                &kp Z     &kp X     &kp C          &kp V     &kp B          &kp N        &kp M     &kp COMMA &kp DOT   &soft_off_with_wakeup &none
                
                // Row 4: 6 Physical Keys + 5 Spacer Matrix Blocks
                &kp LCTRL &kp LGUI  &kp BACKSPACE  &kp SPACE &bootloader    &boot_reset  &none     &none     &none     &none                 &none
            >;
        };
    };
};
